<h1>Example App: Create New</h1>
{{ item.name }}

<form action="/news/store" method="post">
    <table>
        <tr>
            <td> Name  </td>
            <td> <input type="text" name="name"> </td>
        </tr>
         <tr>
            <td>   </td>
            <td> <button type="submit"> Create </button> </td>
        </tr>
    </table>
</form>